<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All test Suite" parallel="tests" thread-count="2">
    <test name="Playwright">
        <classes >
            <class name="test.RegisterAndLogin" />
        </classes>
    </test>
    <test name="Playwright payments">
        <classes >
            <class name="test.Payments" />
        </classes>
    </test>
</suite>